name: Build & Release
on:
  push:
    branches:
      - main
jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   if: ${{ !contains(github.event.head_commit.message, 'helm-publish') }}
  #   steps:
  #     - name: Repo Checkout
  #       uses: actions/checkout@v2
  #     - name: Run Tests
  #       run: make test
  release:
    name:  Release
    #needs: Test
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'helm-publish') }}
    env:
      RELEASE_VERSION: ~
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare semantic-release
        run: |
          npm install -g \
              semantic-release@19.0.5 \
              @semantic-release/exec@6.0.3 \
              conventional-changelog-conventionalcommits
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          npm exec -- semantic-release --dry-run
          if test -f .RELEASE_VERSION; then
            release_version="$(cat .RELEASE_VERSION)"
            echo "RELEASE_VERSION=$release_version" >> $GITHUB_ENV
          fi
      - name: Build / Push
        if: env.RELEASE_VERSION != ''
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/neilmcgibbon/eks-iam-operator:latest,ghcr.io/neilmcgibbon/eks-iam-operator:${RELEASE_VERSION}
          push: true
      - name: Release
        run: |
          npm exec -- semantic-release
  publish-helm:
    name:  Publish Helm
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, 'helm-publish') }}
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      - name: Pages Checkout
        uses: actions/checkout@v3
        with:
          ref: pages
          path: pages
      - name: Publish
        run: |
          helm package helm --destination chart
          mv -n chart/*.tgz pages/
          helm repo index pages/ --url https://neilmcgibbon.github.io/eks-iam-operator
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github@neilmcgibbon.com"
          git -C pages add .
          git -C pages commit -m 'Publish Helm Chart'
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: pages
          directory: pages
          
      
