name: Build & Release
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'helm-publish') }}
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      # - name: Run Tests
      #   run: make test
  tag:
    name: Tag
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      - name: Conventional Changelog Action
        uses: TriPSs/conventional-changelog-action@v3
        with:
          skip-on-empty: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-commit: "true"

  # release:
  #   name:  Release
  #   #needs: Test
  #   runs-on: ubuntu-latest
  #   if: ${{ !contains(github.event.head_commit.message, 'helm-publish') }}
  #   steps:
  #     - name: Repo Checkout
  #       uses: actions/checkout@v2
  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2
  #     - name: Login to GitHub Container Registry
  #       uses: docker/login-action@v2
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Docker meta
  #       id: meta
  #       uses: docker/metadata-action@v4
  #       with:
  #         images: |
  #           ghcr.io/neilmcgibbon/eks-iam-operator
  #         tags: |
  #           type=semver,pattern={{version}}
  #     - name: Build / Push
  #       uses: docker/build-push-action@v4
  #       with:
  #         context: .
  #         platforms: linux/amd64,linux/arm64
  #         tags: ${{ steps.meta.outputs.tags }}
  #         labels: ${{ steps.meta.outputs.labels }}
  #         push: true
  #     - name: Release
  #       run: |
  #         npm exec -- semantic-release
  # publish-helm:
  #   name:  Publish Helm
  #   runs-on: ubuntu-latest
  #   if: ${{ contains(github.event.head_commit.message, 'helm-publish') }}
  #   steps:
  #     - name: Repo Checkout
  #       uses: actions/checkout@v3
  #     - name: Pages Checkout
  #       uses: actions/checkout@v3
  #       with:
  #         ref: pages
  #         path: pages
  #     - name: Publish
  #       run: |
  #         helm package helm --destination chart
  #         mv -n chart/*.tgz pages/
  #         helm repo index pages/ --url https://neilmcgibbon.github.io/eks-iam-operator
  #         git config --global user.name "github-actions[bot]"
  #         git config --global user.email "github@neilmcgibbon.com"
  #         git -C pages add .
  #         git -C pages commit -m 'Publish Helm Chart'
  #     - name: Push changes
  #       uses: ad-m/github-push-action@master
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #         branch: pages
  #         directory: pages
          
      
