name: OnPush
on:
  push:
    branches:
      - main
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, 'helm-publish') }}
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
      # - name: Run Tests
      #   run: make test
  tag:
    name: Tag
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v3
        with:
          ssh-key: "${{ secrets.ACTION_COMMIT_KEY }}"
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          output-file: "false"
          skip-on-empty: "false"
          skip-version-file: "true"
      - name: Test
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        run: |
          echo ${{ steps.changelog.outputs.tag }}
          echo ${{ steps.changelog.outputs. }}
          